<div class="container-md my-2 p-0 mx-auto">
  <div class="card partial">
    <div class="p-4">
      <div class="editButton">
        <i class="fas fa-pencil-alt"></i>
      </div>
      <h4>Acerca de mi</h4>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate
        dignissimos unde illum consectetur consequuntur autem accusamus tempore
        optio amet accusantium, rerum sed magnam nemo tempora repudiandae
        nesciunt suscipit necessitatibus quos quis, nihil minus aliquid. Vero
        ex, tempora debitis aliquam numquam, iure, fugit temporibus minus quis
        nemo quod tempore provident nulla. Modi voluptatibus maxime quo omnis
        ducimus eligendi et? Perspiciatis quia totam atque minima rem eius
        itaque harum eaque officia? Qui magni adipisci voluptatibus quos sit id
        sunt ad earum dignissimos?</p>
    </div>
  </div>
</div>