<div class="card mx-auto" id="header">
  <div class="uploadButton">
    <i class="fas fa-camera"></i>
  </div>
  <img src="/imgs/bg.jpg" class="card-img-top" alt="logo" id="banner" />
  <div class="card-body pb-0">
    <div id="random" class="container"></div>
  </div>
  <div class="card-body">
    <div class="container cardFooter text-md-start pb-3">
      <button class="btn btn-primary rounded-pill fw-bold py-1">Agregar cuestion</button>
      <button
        class="btn btn-outline-primary rounded-pill mx-2 fw-bold py-1"
      >Agregar otra lesera</button>
      <button
        class="btn btn-outline-secondary rounded-pill fw-bold py-1"
      >Mas</button>
    </div>
    <div class="container">
      <div id="membrete" class="container">
        <p class="fw-bold">Busco empleo</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ut
          nemo, dolor dolorem quidem incidunt inventore eligendi nesciunt atque
          delectus.</p>
        <a href="" class="text-primary">Ver todos los detalles</a>
      </div>
    </div>
  </div>
</div>