<nav class="navbar navbar-expand-lg mb-4 p-1">
  <div class="nav-wrap">
    <div class="nav-start me-5">
      <a class="navbar-brand" href="#" id="logo">DL</a>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">
      <li class="nav-item p-0">
        <i class="fas fa-home"></i>
        <a class="nav-link p-0" aria-current="page" href="#">Inicio</a>
      </li>
      <li class="nav-item p-0">
        <i class="fas fa-users"></i>
        <a class="nav-link p-0" aria-current="page" href="#">Mi red</a>
      </li>
      <li class="nav-item p-0">
        <i class="fas fa-suitcase"></i>
        <a class="nav-link p-0" aria-current="page" href="#">Empleos</a>
      </li>
      <li class="nav-item p-0">
        <i class="fas fa-comment"></i>
        <a class="nav-link p-0" aria-current="page" href="#">Mensajes</a>
      </li>
      <li class="nav-item p-0">
        <i class="fas fa-bell"></i>
        <a class="nav-link p-0" aria-current="page" href="#">Notificaciones</a>
      </li>
    </ul>
    <div id="nav-end" class="ms-5">
    </div>
  </div>
</nav>