<div class="container-md my-2 p-0 mx-auto">
  <div class="card partial">
    <div class="p-4">
      <div class="editButton">
        <i class="fas fa-pencil-alt"></i>
      </div>
      <h4>Conocimientos y Aptitudes</h4>
      <button
        class="btn btn-outline-primary rounded-pill fw-bold py-1 mb-3"
      >Agregar otra aptitud</button>
      <ul class="list-group list-group-flush m-0">
        <li class="list-group-item ps-0 fw-bold">An item</li>
        <li class="list-group-item ps-0 fw-bold">A second item</li>
        <li class="list-group-item ps-0 fw-bold">A third item</li>
      </ul>
    </div>
    <div class="card-footer">
      <h6 class="fw-bold text-center py-2   ">Mostrar todas las aptitudes</h6>
    </div>
  </div>
</div>